body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main {
    background-color: #eee; 
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.paragraph {
    padding: 15px;
}

@media (max-width: 460px) {
    #main {
      margin: 0;
    }
  } 

h1, p {
    text-align: center;
}

@media (max-width: 460px) {
    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
    }
  }

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    
}

figure {
    background-color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#caption {
    padding: 15px;
}

@media (max-width: 460px) {
    #caption {
      font-size: 1.4rem;
    }
  }

#heading {
    text-align: center;
    padding: 15px;
}

#list {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#list li {
    line-height: 30px;  
}

#quote {
    font-style: oblique;
    width: 50%;
    margin: auto;
}

footer {
    font-size: 20px;
    width: 70%;
    margin: auto;
}
  